@using GameWebApplication.Models

@{
    ViewBag.Title = "All Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stats for all users</h2>
@{
    List<User> users = Model.Users;
    List<Statistics> statistics = Model.Statistics;
    List<Character> characters = Model.Characters;
}

<table id="Characters" class="tg">
    <thead>
        <tr>
            <th>User</th>
            <th>Character</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Total gold</th>
        </tr>
    </thead>
    @foreach (var user in users)
    {
        <tr>
            <th>@user.UserName</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        List<Character> charsByUser = characters.FindAll(character => character.UserId == user.Id);
        foreach (var character in charsByUser)
        {
            var stats = statistics.Find(stat => stat.CharacterId == character.Id);

            <tr onclick="location.href = '@(Url.Action("EditCharacter", "Statistics", new {id = character.Id}))'">
                <td></td>
                <td class="width200">@character.Name</td>
                <td>@stats.Kills</td>
                <td>@stats.Deaths</td>
                <td>@stats.TotalMoney</td>
            </tr>
        }
    }
</table>


<style>
    #Characters {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #Characters td, #Characters th {
            border: 1px solid #ddd;
            padding: 8px;
        }

            #Characters td:nth-child(1) {
                font-weight: bold;
            }

        #Characters tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #Characters tr:hover {
            background-color: #ddd;
        }

        #Characters th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4e4e4e;
            color: #fffff0;
        }
</style>
