@using GameWebApplication.Models
@model GameWebApplication.ViewModels.StatisticsViewModel

@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Characters[0].Name</h2>
@{
    var chars = Model.Characters;
}



<select id="Select1">
    @foreach (var character in chars)
    {
        <option>@character.Name</option>
    }
   

</select>


@* <asp:DropDownList ID="DropDownList1" runat="server" width="145px"> *@
@*     <asp:ListItem Text=@chars[0].Name Value=@chars[0] Selected="true"></asp:ListItem> *@
@* </asp:DropDownList> *@

@* @Html.DropDownList("Characters", *@
@*     new SelectList(chars), *@
@*     "Select Character") *@

<table id="Characters" class="tg">
    <thead>
        <tr>
            <th>Character</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Total gold</th>
        </tr>
    </thead>
    @foreach (var character in Model.Characters)
    {
        var stats = Model.Statistics.Find(stat => stat.CharacterId == character.Id);
        <tr>
            <td class="width200">@character.Name</td>
            <td>@stats.Kills</td>
            <td>@stats.Deaths</td>
            <td>@stats.TotalMoney</td>
        </tr>
    }
</table>


<style>
    #Characters {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #Characters td, #Characters th {
            border: 1px solid #ddd;
            padding: 8px;
        }

            #Characters td:nth-child(1) {
                font-weight: bold;
            }

        #Characters tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #Characters tr:hover {
            background-color: #ddd;
        }

        #Characters th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4e4e4e;
            color: #fffff0;
        }
</style>
