@model GameWebApplication.Models.Character

@{
    ViewBag.Title = "Character View";
}

<h2>CharacterPage</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
@* <p> *@
@*     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | *@
@*     @Html.ActionLink("Back to List", "Index") *@
@* </p> *@
