@model GameWebApplication.Models.ViewModels.RegisterUserViewModel

@{
                ViewBag.Title = "RegisterUserPage";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegisterUserPage</h2>

@using (Html.BeginForm("RegisterUser", "Register", FormMethod.Post, new { @class = "register_class" }))
{
    @Html.AntiForgeryToken()
    <h4>Register a new user.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Admin, new { @class = "col-md-2 control-label" })
        @Html.CheckBoxFor(m => m.Admin)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register User" class="btn btn-default" />
        </div>
    </div>
}